html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #002E8F!important;
  background: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.itemList span{
  font-size: 1.6rem!important;
}

.solutionInge {
  --animate-duration: 1s;
}
.solutionCapa {
  --animate-duration: 1.5s;
}
.solutionConsu {
  --animate-duration: 2s;
}
.solutionComer {
  --animate-duration: 2.5s;
}
.solutionContact {
  --animate-duration: 3s;
}



.cls-1{
  fill:#002E8F
}

.cls-2{
  fill:#fff
}

.main{
  scroll-behavior: smooth;
}


@keyframes taadaa { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.opacityImage {
  animation: taadaa 2s;
}

.solutionImage {
  transition: transform .2s;
  animation-duration: 2s;
}


.solutionImage:hover {
  transform: scale(1.05);
}